<%#
  The Crucible: source suggestions + research plan.
%>
<aside class="app-insight app-crucible-rail" aria-label="Source suggestions and research plan">
  <div class="app-crucible-rail__inner">
    <div class="app-crucible-rail__top">
      <div class="insight-h">Source Suggestions</div>
      <div class="app-crucible-rail__scroll" id="crucible-suggestions">
      </div>
    </div>
    <div class="app-crucible-rail__bottom">
      <div class="insight-h">Research Plan</div>
      <div class="app-crucible-rail__scroll">
      </div>
    </div>
  </div>
</aside>
